clinet/logs
clinet/*.log
clinet/npm-debug.log*
clinet/yarn-debug.log*
clinet/yarn-error.log*
clinet/pnpm-debug.log*
clinet/lerna-debug.log*
clinet/node_modules
clinet/dist
clinet/dist-ssr
clinet/*.local
clinet/.vscode/*
clinet/!.vscode/extensions.json
clinet/.idea
clinet/.DS_Store
clinet/*.suo
clinet/*.ntvs*
clinet/*.njsproj
clinet/*.sln
clinet/*.sw?
