/* Learn page container */
.learn-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

/* Header */
.learn-header {
  /* text-align: center; */
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

/* Instruction container */
.instruction-container {
  /* text-align: center; */
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

/* Media container */
.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Image container */
.image-container {
  flex: 1;
  margin-right: 20px;
}

.placeholder-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Webcam container */
.webcam-container {
  flex: 1;
  border-radius: 8px;
}

/* Error message */
.error-message {
  color: red;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

/* Button container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.capture-button,
.next-lesson-button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.capture-button:hover,
.next-lesson-button:hover {
  background-color: #45a049;
}

/* Instruction text */
.instruction-text {
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Loading text */
p {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
